# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## General
.DS_Store

## Tools
.idea/
.kiro/
.vscode/
.build/
.cursor/

## User settings
xcuserdata/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
**/xcuserdata/
.swiftpm/xcode/xcuserdata/
*.xcworkspace/

# Common iOS/Swift
*.swp
*.moved-aside
timeline.xctimeline
playground.xcworkspace
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/

